.table_tax {
    width: 350px;
}

.image {
    margin-right: 30px;
    margin-top: 30px;
    max-width: 375px;
}

.page_break {
    page-break-before: always;
}

.table_bilan th, .table_bilan td {
    border: 1px solid black!important;
    background-color: white !important;
    text-align: center !important;
}

.double_height {
    height: 50px;
}

.table_references th, .table_references td {
    border: 1px !important;
    background-color: white !important;
    text-align: center !important;
    font-size: 1.3em;
}

.table_caracteristiques td {
    background-color: white !important;
    padding: 0px;
    width: 30%;
}

.table_repair th, .table_repair td {
    background-color: white !important;
}

.table_titles td {
    background-color: #B8B8B8 !important;
    font-size: 1.5em;
}

.table_titles_workcenters td {
    background-color: #E5E5E5 !important;
}

.signature {
    border: 1px solid black;
    width: 250px;
    height: 100px;
    background-color: white !important;
}

.background {
    background-color: white !important;
}

.etiquette_t1 {
    font-size: 8em;
}

.etiquette_t2 {
    font-size: 6em;
}

.etiquette_t3 {
    font-size: 1.5em;
}

.table_references_etiquette td {
    border: 1px solid black !important;
    margin: 100px !important;
    background-color: white !important;
}

.table_references_etiquette {
    margin-top: 100px !important;
}

.specifications {
    border: 1px solid black !important;
    background-color: white !important;
    text-align: left !important;
    font-size: 1.2em;
    padding: 10px;
}

.affaire_right {
    float: right;
}

.center_text {
    text-align: center;
}

.center_table {
    margin: 0 auto;
    margin-bottom: 10px;
}

.etiquette_t4 {
    font-size: 2em;
}

.truncate_title {
    width: 60%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.truncate_ref {
    width: 90%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.total_width {
    width: 100%;
}

.spec_unit {
    width: 10%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.spec_value {
    width: 10%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.spec_desc {
    width: 50%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}